body , html {
  height: 100%;
  margin: 0;
  font-size: 20px;
  font-family: "Lato" sans-serif;
  font-weight: 600;
  line-height: 2em;
  color: #212121;
  }

  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8 {

    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .pimg1 {
    background-image: url("../images/img1.jpg");
    min-height: 100%;
  }

  .pimg2 {
    background-image: url("../images/img2.jpg");
    min-height: 100%;
  }

  .pimg3 {
    background-image: url("../images/img3.jpg");
    min-height: 300px;
  }

  .pimg4 {
    background-image: url("../images/img4.jpg");
    min-height: 400px;
  }

  .pimg5 {
    background-image: url("../images/img5.jpg");
    min-height: 100%;
  }

  .pimg6 {
    background-image: url("../images/img6.jpg");
    min-height: 100%;
  }

  .pimg7 {
    background-image: url("../images/img7.webp");
    min-height: 100%;
  }

  .pimg8 {
    background-image: url("../images/img8.jpeg");
    min-height: 100%;
  }

  .ptext {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: #fff;
    letter-spacing: 10px;
    font-size: 20px;
  }

  .border {
    background-color: #808080;
    padding: 20px;
  }

  .section1, .section2, .section3, .section4, .section5, .section6, .section7 {
    text-align: center;
    color: #212121;
  }
